# Principal Data Analyst Technical Test

## Overview
This Jupyter notebook contains all my responses to the technical test.

### Structure

1. **Data loading and exploration**
2. **Part 1 to 5** - 
3. **Conclusion and recommendations** -

## Data loading and exploration

In [1]:
# Load packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Load data
data = pd.read_excel('data/Data Insights - Synthetic Dataset.xlsx')

In [7]:
# Quick data exploration
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   insurer_id               30000 non-null  object
 1   episode_id               30000 non-null  int64
 2   DateOfBirth              30000 non-null  datetime64[ns]
 3   Postcode                 30000 non-null  int64
 4   Sex                      30000 non-null  object
 5   AdmissionDate            30000 non-null  datetime64[ns]
 6   SeparationDate           30000 non-null  datetime64[ns]
 7   AR-DRG                   30000 non-null  object
 8   ModeOfSeparation         30000 non-null  object
 9   CareType                 30000 non-null  object
 10  SourceOfReferral         30000 non-null  object
 11  DischargeIntention       30000 non-null  object
 12  AdmissionProviderID      30000 non-null  int64
 13  AdmissionTime            30000 non-null  object
 14  UrgencyOfAdmission       30000 non-null  object
 15  SeparationTime           30000 non-null  object
 16  PrincipalDiagnosis       30000 non-null  object
 17  Diagnosis2               30000 non-null  object
 18  Diagnosis3               30000 non-null  object
 19  Diagnosis4               30000 non-null  object
 20  Principal_ProcedureCode  30000 non-null  object
 21  ProcedureCode2           30000 non-null  object
 22  ProcedureCode3           30000 non-null  object
 23  AccommodationCharge      30000 non-null  float64
 24  CCU_Charges              12833 non-null  float64
 25  ICU_Charge               12862 non-null  float64
 26  TheatreCharge            12836 non-null  float64
 27  PharmacyCharge           13265 non-null  object
 28  ProsthesisCharge         12849 non-null  float64
 29  OtherCharges             12819 non-null  float64
 30  BundledCharges           12894 non-null  float64
 31  UnplannedTheatreVisit    1010 non-null   object
 32  InfantWeight             1525 non-null   float64
 33  Readmission28Days        1011 non-null   object
 34  HoursMechVentilation     1469 non-null   float64
 35  PalliativeCareStatus     1022 non-null   object
 36  Age                      30000 non-null  int64
dtypes: datetime64[ns](3), float64(9), int64(4), object(21)
memory usage: 8.5+ MB

,episode_id,DateOfBirth,Postcode,AdmissionDate,SeparationDate,AdmissionProviderID,AccommodationCharge,CCU_Charges,ICU_Charge,TheatreCharge,ProsthesisCharge,OtherCharges,BundledCharges,InfantWeight,HoursMechVentilation,Age
count,30000.000000,30000,30000.000000,30000,30000,3.000000e+04,30000.000000,12833.000000,12862.000000,12836.000000,12849.000000,12819.000000,12894.000000,1525.000000,1469.000000,30000.000000
mean,50033.716400,1973-12-23 14:30:14.400000,50024.200033,2023-08-03 05:13:29.280000256,2023-08-18 17:04:07.680000,5.346018e+06,11.189211,8.344885,9.839234,1090.956923,317.982874,112.844216,2724.783963,3.751298,36.665078,50.323600
min,0.000000,1923-08-03 00:00:00,504.000000,2022-08-01 00:00:00,2022-08-02 00:00:00,5.001550e+05,4.636378,5.019066,5.708903,200.080000,50.040000,20.000000,500.050000,2.500000,0.000000,0.000000
25%,25133.750000,1948-08-28 12:00:00,25599.750000,2023-02-02 00:00:00,2023-02-18 00:00:00,2.797561e+06,8.804736,6.808693,7.696555,640.545000,181.948000,65.960000,1595.535000,3.110000,19.000000,25.000000
50%,49877.000000,1973-11-18 12:00:00,49760.500000,2023-08-02 00:00:00,2023-08-17 00:00:00,5.939456e+06,10.658766,7.765532,9.513417,1085.280000,311.064000,112.940000,2698.535000,3.780000,37.000000,50.000000
75%,75086.750000,1999-03-12 00:00:00,74689.750000,2024-02-03 00:00:00,2024-02-20 00:00:00,7.568241e+06,13.324689,10.201633,11.591402,1536.852500,437.697000,158.625000,3867.870000,4.360000,55.000000,76.000000
max,99997.000000,2024-07-24 00:00:00,99947.000000,2024-07-31 00:00:00,2024-08-29 00:00:00,9.924619e+06,33.944085,17.563012,29.956644,1999.900000,5391.750000,239.964000,4999.670000,5.000000,72.000000,101.000000
std,28877.713709,NaN,28630.887452,NaN,NaN,2.808776e+06,3.068055,1.904278,2.601829,518.080420,184.546634,54.115388,1306.231291,0.711664,21.151671,29.217789

## Part 1: Data Exploration and Preparation

### Question 1
> Identify and describe 2 data quality issues present in the dataset.

> Briefly propose strategies to address these issues. Document the steps taken and provide a summary of the data quality improvements.


### Question 2

>Using the data provided create a feature that could be valuable for analysis or modelling.

>Explain the rationale behind the feature you created and how they might be useful for analysis.

## Part 2: Data Analysis and Visualisation

### Question 3

> Using the data provided produce a piece of analysis that describes to Ramsay which DRGs accrue the largest charges and your hypotheses for the drivers of these charge.

> Visualise these trends using appropriate charts or graphs and describe the results.


### Question 4

> Write an SQL query to calculate the total and average admissions for each month over the last two years. Include the month and year in the results.


### Question 5 

> Write an SQL query to analyse the distribution of TotalCharges by PrincipalDiagnosis and Sex. Use percentiles to describe the distribution.

## Part 3: Strategic Insights and Recommendations

### Qustion 6

> Based on your analysis, identify two strategic insights that could help Ramsay improve hospital operations or patient care. Justify your insights with evidence from your data analysis.

## Part 4: Model Development

### Question 7

> Describe a predictive model that could help Ramsay act upon one of the insights you found in Part 4. Describe your model purpose, model choice, preprocessing steps, and evaluation metrics.

## Part 5: MLOps and Deployment

Question 8

> Describe how you would deploy the trained model into a production environment. Discuss how you would monitor its performance and handle any potential issues.